* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
.navbar{
  background: #2b2922;
  color: #ffffff;
  display: flex;
  padding: 1% 7%;
  align-items: center;
}
.nav-logo{
  height: 40px;
}
.nav-others{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30%;
  width: 100%;
  margin-right: 2%;
}
.nav-button button{
  /* margin-left: 10%; */
  width: 120px;
  height: 40px;
  background-color: transparent;
  color: #9e8d36;
  font-weight: 700;
  border: 1px solid #766b2f;
  border-radius: 10px;
}
.list{
  display: flex;
  list-style-type: none;
  width: 200%;
  /* column-gap: 20%; */
}
.list>li:first-child{
  color: #ffffff;
  font-weight: 600;
}
.list-item{
  margin-right: 10%;
  color: #8e8c84;
}

.justice-content{
  background: #2b2922;
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  padding: 1% 7%;
  align-items: center;
}
.justice-heading{
  font-size: 50px;
  width: 35%;
}
.justice-body{
  font-size: 20px;
  width: 30%;
  margin-right: 10%;
}

.justice-img{
  width: 100vw;
  height: 458px;
}
.justice-img img{
  object-fit: cover;
}

.bottom{
  background: #2b2922;
  height: 70px;
  display: flex;
  justify-content: flex-end;
}
.button-left{
  background: #39372d;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}
.button-right{
  background: #a08f36;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
}
.button-large-prev{
  border:1px solid #a08f36;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a08f36;
  font-size: 20px;
}
.button-large-next{
  border:1px solid #ffffff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
}
